/*전체설정*/
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

body {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Pretendard';
    min-width: 1450px;
}

/* bg */

.bg_1 {
    /* #content1 -> position: relative; */
    position: absolute;
    top: -170px;
    left: 0;
    width: 100%;
}

.bg_2 {
    position: absolute;
    width: 100%;
    bottom: -75px;
    left: 0;
}

/* title */
.title {
    text-align: center;
    color: #554276;
    padding: 61px 0 30px;
    font-size: 40px;
}

.tt_s {
    font-size: 24px;
    padding-bottom: 25px;
    text-align: center;
}

/* header */
header {
    width: 100%;
    height: 110px;
    background-color: #fff;
    position: fixed;
    z-index: 50;
}

.header_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -45%);
    z-index: 50;
}

/* 메뉴 시작 */
.gnb {
    float: left;
}

.gnb>li {
    float: left;
    padding: 43.5px 45px;
    position: relative;
}

.gnb>li>a {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.gnb>li>a:hover {
    /* 글씨 그라데이션 넣기 */
    background: linear-gradient(to right, #554276, #f6b0b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gnb_mg {
    margin-left: 250px;
}

.sub_bg1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    display: none;
}

/* 메뉴 끝 */
/* 아이콘 시작 */
.icon {
    float: right;
}

.icon li {
    float: left;
    padding: 38px 15px;
}

/* 아이콘 끝 */

/* sub_menu */
.sub_menu {
    width: 100%;
    position: absolute;
    top: 130px;
    left: 0;
    z-index: 30;
    color: #fff;
    font-size: 18px;
    display: none;
}

.sub_menu ul li {
    padding: 10px 0;
    text-align: center;
}

.sub_menu ul li:hover {
    font-weight: bold;
}

.sub_menu ul li a {
    display: inline-block;
}



/* experience1 */
#experience1 {
    width: 100%;
    height: 920px;
    background-color: #fef5df;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 110px;
}

.experience1_inner {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.e_zemsun {
    padding-top: 30px;
    padding-left: 30px;
}

.swiper-slide p {
    padding: 6px 0 8px;
    font-size: 16px;
}

.experience_sp .swiper-pagination span {
    background-color: #554276;
}

.swiper-pagination {
    padding-bottom: 35px;
}

/* experience2 */
#experience2 {
    width: 100%;
    height: 920px;
    background-color: #b2aed7;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    position: relative;
}

.experience2_inner {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.experience2_1,
.experience2_2,
.experience2_3 {
    width: 400px;
    height: 500px;
    border-radius: 200px;
    background-color: #fff;
    padding-top: 50px;
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.experience2_3 {
    padding-top: 75px;
}

.e_tt {
    font-size: 28px;
    font-weight: bold;
    padding-top: 40px;
    line-height: 35px;
}

.e_td {
    font-size: 20px;
    padding-top: 10px;
    line-height: 32px;
}

/* reservation */
#reservation {
    position: relative;
    width: 100%;
    background-color: #ecdeed;
}

.reservation_inner {
    width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}


#datepicker2 {
    background: none;
    border: 1px solid #554276;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    outline-style: none;
    border-radius: 20px;
    margin-left: 45%;
    margin-top: 25px;
    text-align: center;
    color: #554276;
}

#datepicker2::placeholder {
    color: #554276;
}

.reservation_form {
    background-color: #fff;
    color: #fff;
    width: 630px;
    height: 500px;
    border-radius: 80px;
    box-sizing: border-box;
    padding: 30px 50px;
}

.form_tt {
    background-color: #b2aed7;
    width: 200px;
    height: 45px;
    border-radius: 22.5px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin: 15px 0;
}

.r_right {
    background-color: #b2aed7;
    width: 305px;
    height: 45px;
    border-radius: 22.5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: none;
    float: right;
    color: #fff;
    margin: 15px 0;
}

.r_btn {
    text-align: center;
    width: 150px;
    height: 45px;
    border-radius: 22.5px;
    border: #554276 2px solid;
    color: #554276;
    margin-left: 190px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
}

.r_btn:hover {
    color: #fff;
    background-color: #554276;
    transition: all 0.5s;
}

.cancel {
    width: 1320px;
    height: 370px;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
}

/* footer */
footer {
    width: 100%;
    position: relative;
    background-color: #554276;
    color: #fff;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
}

.copyright {
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

.copy {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.f_logo {
    float: right;
    padding-top: 40px;
}